# Eclipse 
/.classpath
/.project
/.settings

# Netbeans
/nbproject

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Gradle
.gradle/

# Maven
/build.xml
/target

# Build files
/build
/bin
/dist
/manifest.mf

# Vim
.*.sw[a-p]

# Mac filesystem dust
/.DS_Store
*.DS_Store
.DS_STORE

# Misc
*.psd
/world
.checkstyle
